{% extends 'team/main.html' %} {% load static %} {% block content %}
<br />
<p>
  Update {{player.firstName}} {{player.lastName}} details
</p>
<form method="POST">
  {% csrf_token %}
  <table class="table table-bordered table-light">
    {{playeredit_form.as_table}}
  </table>
  <br />
  <button type="submit" class="btn btn-warning float-right">
    Update Player
  </button>
</form>
<a href="{% url 'player_delete' player.id %}" class="btn btn-danger float-right">Delete Player</a>
{% endblock content %}
